<div
<<<<<<< HEAD
  class="flex flex-row items-start justify-between text-xs text-white font-body-bold-text">
=======
  class="w-[1440px] flex flex-row items-start justify-between text-xs text-white font-body-bold-text">
>>>>>>> 21993dd549598eb10091e465de0498581de083e8
  <%- include('../atom/card2.ejs'); %>
</div>
