<% title = "Dashboard" %>
<h1 class="text-black bg-nft-gold-primary">Dashboard</h1>
<!-- <button class="w-gold h-nft bg-[#E1C7ED] text-white rounded-md text-xs font-semibold px-8 py-2">
    Login
</button> -->